
a {
    color: #000000;
}


.homeheader h1 {
    text-align: center;
    font-size: 50px;
    padding: 20px;
}

.homecontainer {
    min-height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.homebutton {
    min-width: 450px;
    min-height: 200px;
    padding: 10px;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 30px;
    cursor: pointer;
    font-size: 27px;
    border: 1px solid gray;
    border-radius: 10px;
}

.GroupDescription {
    position: fixed;
    right: 0;
    bottom: 40px;
    padding: 22px;
    margin: 5px;
    min-width: 200px;
    border: 1px solid aqua;
    font-size: 20px;
    color: #FFFFFF;
}

.GroupDescription li {
    margin-top: 10px;
    margin-left: 20px;
}

footer {
    width: 100vw;
    position: fixed;
    padding: 10px;
    bottom: 0;
    text-align: center;
    background-color: rgb(18, 25, 44);
    color: azure;
}